# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore virtual environments
venv/
myenv/
env/

# Ignore Django migrations
migrations/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore IDE configurations
.vscode/
.idea/

# Ignore system files
.DS_Store
Thumbs.db
